* {
  box-sizing: border-box;
}
body {
  font-family: "Inconsolata", monospace;
}
:root {
  --bg-color: white;
  --txt-color: #292929;
}

body {
  background-color: var(--bg-color);
  color: var(--txt-color);
  height: 100vh;
  overflow: hidden;
  padding: 0;
  margin: 0;
}
#js-tasks {
  width: 600px;
  position: relative;
  height: 353px;
}
#loader {
  height: 150px;
  width: 150px;
  background-color:purple;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  /* backdrop-filter: blur(200px);
  -webkit-backdrop-filter: blur(200px); */
}
