<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TheFirst</title>
</head>

<body>

    {{> header}}

    {{ welcomeMessage }}

    <a href="/test.html">Go to code test</a>

    {{> footer}}



</body>

</html>